Package: archlinux-pacman
Version: 4.1.2-1
Architecture: amd64
Maintainer: Jubei Mitsuyoshi <jubei.house.of.five.masters@gmail.com>
Installed-Size: 4033
Depends: libarchive13, libc6 (>= 2.14), libcurl3-gnutls (>= 7.16.2), libssl1.0.0 (>= 1.0.0)
Section: devel
Priority: optional
Homepage: https://www.archlinux.org/pacman/#_releases
Description: archlinux package manager
 archlinux and others package manager
 braught to debian to facilitate running
 an archlinux chroot on a debian host
